.banner{
	background-color: black;
	height: 80px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	padding: 0px;

}
.im1{
	width: 1244px;
	height: auto;
	margin-left:-10px;

}
.pfe{
	position: absolute;
	font-size: 30px;
	width: 265px;
	font-weight: bolder;
	color: white;
	margin-left: 460px;
	margin-top:-130px;
	border-style: solid;
	border-width: 8px;
	border-color: white;
	
}
.home{
	margin-left: 110px;
}
span{
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	padding-top: 50px;
	margin-left: 20px;
	position: relative;
	top: 30px;
}
.maintext{
	padding-left: 280px;
	padding-top: 40px;
	font-size: 35px;
	font: helvetica;

}

.welcometext{
	padding-left: 300px;
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	font: helvetica;
}

.footer{
	height: 300px;
	background-color: black;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 200px;
}

.contact{
	color: white;
	margin-left: 200px;
	margin-top: -250px;
	font-size: 30px;
	font-weight: bolder;

}
.contact1 {
	color: white;
	margin-left: 100px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}

.search{
	color: white;
	margin-left: 800px;
	margin-top: -230px;
	font-size: 30px;
	font-weight: bolder;
}
.input{
	margin-left: 700px;
	width: 300px;
	border-radius: 10px;
}






